* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background: #000000;
}

.containerbg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: relative;
    display: flex;
    z-index: -100;
}

.bg span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #ffffff;
    margin: 0 4px;
    box-shadow: 0 0 0 10px #afd5ec,
        0 0 50px #8da4ad,
        0 0 100px #788e97;
    border-radius: 50%;
    animation: animate 15s linear infinite;
    animation-duration: calc(120s / var(--i));
}

/* .bg span:nth-child(even) {
    background: #77ABB7;
    box-shadow: 0 0 0 10px #254B62,
        0 0 50px #77ABB7,
        0 0 100px #77ABB7;
} */

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.contform {
    background: #26292b;
    height: 80vh;
}

.hi {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.contact__container {
    row-gap: 3rem;
}

.contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content {
    background-color: rgba(66, 50, 50, 0);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
    font-size: var(--smaller-font-size);
    color: #fff;
}

.contact__input {
    width: 100%;
    background-color: #ffffff;
    color: #000;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
}