html {
    --scrollbarBG: #363636;
    --thumbBG: #4d3737;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Basic;
}

body::-webkit-scrollbar{
    width: 20px;
}

body {
    min-height: 100vh;
    background: #000000;
}

body::-webkit-scrollbar-track{
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--thumbBG);
    border-radius: 4px;
}

.containerbg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* ======== HEADER ========= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========= NAVBAR ========== */
.ling {
    color: aliceblue;
}

.ling:hover {
    color: coral;
}

.ling:active {
    color: rgb(97, 59, 59);
}


/* ======== HOME CSS ====== */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



.hi {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.ig:hover{
    color: rgb(228, 104, 21);
    box-shadow: 0 1px 1px 1px coral;
    transition: 0.5s;
    border-radius: 25%;
}
.gt:hover{
    color: rgb(181, 201, 7);
    box-shadow: 0 1px 1px 1px chartreuse;
    transition: 0.5s;
    border-radius: 25%;
}
.tw:hover{
    color: rgb(21, 204, 228);
    box-shadow: 0 1px 1px 1px cyan;
    transition: 0.5s;
    border-radius: 25%;
}

/* ======== HOME BG ========= */
.containerbg{
    background-image: url("hiu.gif");
    background-size: contain;
    background-repeat: repeat-x;
}

.bodi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.glow {
    z-index: -100;
    position: relative;
    width: 750px;
    height: 750px;
}

@media only screen and (max-width: 570px) {
    
}

.glow span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}

.glow span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}

.glow span:nth-child(3n + 1)::before {
    background: rgba(134, 255, 0, 1);
    box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 20px rgba(134, 255, 0, 1), 0 0 20px rgba(134, 255, 0, 1), 0 0 20px rgba(134, 255, 0, 1), 0 0 0 0px rgba(134, 255, 0, .1);
}
.glow span:nth-child(3n + 2)::before {
    background: rgba(255, 214, 0, 1);
    box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 20px rgba(255, 214, 0, 1), 0 0 20px rgba(255, 214, 0, 1), 0 0 20px rgba(255, 214, 0, 1), 0 0 0 0px rgba(255, 214, 0, .1);
}
.glow span:nth-child(3n + 3)::before {
    background: rgba(0, 226, 255, 1);
    box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 20px rgba(0, 226, 255, 1), 0 0 20px rgba(0, 226, 255, 1), 0 0 20px rgba(0, 226, 255, 1), 0 0 0 0px rgba(0, 226, 255, .1);
}
.glow span:nth-child(3n + 1){
    animation: animate 5s alternate infinite;
}
.glow span:nth-child(3n + 2){
    animation: animate-reversed 5s alternate infinite;
}
.glow span:nth-child(3n + 3){
    animation: animate 5s alternate infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate-reversed {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* ======== FOOTER CSS ======== */
.footerd {
    background: #26292b;
    height: 90vh;
}
.jkl{
    background: #26292b;
    height: 100vh;
}

.inputbox{
    position: relative;
    width: 300px;
}

.inputbox input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(230, 89, 89, 0.76);
    background: #26292b;
    outline: none;
    color: aliceblue;
    font-size: 1em ;
}
.inputbox textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(230, 89, 89, 0.76);
    background: #26292b;
    outline: none;
    color: aliceblue;
    font-size: 1em ;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}
/* .anim{
    animation: wipe-enter 1.3s ;
    animation-delay: 2s;
} */

.inputbox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(233, 108, 108, 0.815);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span{
    color: #d84343;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.9em;
    padding: 0 10px;
    background: #26292b;
}
.inputbox textarea:valid ~ span,
.inputbox textarea:focus ~ span{
    color: #d84343;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.9em;
    padding: 0 10px;
    background: #26292b;
}

.teg{
    color: white;
}

